/* Tüm Sayfa ve Body Ayarları */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Taşmaları engelle */
}

/* Tam Ekran Görsel Konteyner */
.fullscreen-container {
  position: relative;
  width: 100vw; /* Tüm genişlik */
  height: 100vh; /* Tüm yükseklik */
  display: flex;
  justify-content: center; /* Ortala */
  align-items: center; /* Ortala */
  overflow: hidden; /* Fazlalıkları gizle */
}

/* Görsel */
.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Oranını koru ve ekranı kapla */
}
